@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Roboto+Mono:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #373737;
}

#app {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 375px;
   height: 755px;
   margin: 1% auto;
   background: #0f0f0f;
   color: white;
   font-size: 42px;
}
.top-margin {
   position: absolute;
   top: 0;
}
.btm-margin {
   position: absolute;
   top: 735px;
}

.main-container {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.top-title {
   margin-top: -50px;
}
.top-title,
.btm-title {
   font-family: Germania One;
   font-size: 45px;
   font-weight: 400;
   line-height: 42px;
}

.btm-title {
   color: orange;
   text-decoration: underline dotted;
}

.sword-img {
   width: 60px;
   margin: 30px auto;
}
.subtitle {
   font-family: Roboto Mono;
   font-size: 16px;
   font-weight: 400;
   color: #efb55e;
   margin-bottom: 56px;
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
}

.choose-btn {
   background: none;
   border: none;
}
